<%= simple_nested_form_for(@search) do |f| %>
  <%= f.error_notification %>

    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-search"></span><%= t "search.form.edit_search" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-xs-12 col-sm-12">
            <div class="form-group">
              <label><%= t "simple_form.labels.search.checkin_at" %></label>
              <%= f.input :checkin_at, as: :string, :placeholder=> t("simple_form.labels.search.checkin_at"), :label => false , :input_html => {
              :data => { behaviour: "datepicker" },
              value: f.object.suggested_checkin_at(current_user),
              class: "datepicker form-control customdate",
              readonly: true,
              "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=> t("simple_form.labels.search.checkin_at"),
               id:"dp1",
              "data-date-format" => "dd/mm/yyyy"
              } %>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 col-sm-12">
            <div class="form-group">
              <label><%= t "simple_form.labels.search.checkout_at" %></label>
                <%= f.input :checkout_at, as: :string, :placeholder => t("simple_form.labels.search.checkout_at"), :label => false , :input_html => {
                :data => { behaviour: "datepicker"},
                value: f.object.suggested_checkout_at(current_user),
                class: "datepicker form-control customdate",
                readonly: true,
                "data-toggle"=>"tooltip", "data-placement"=>"top", "title" => t("simple_form.labels.search.checkout_at"),
                id:"dp2",
                "data-date-format" => "dd/mm/yyyy",
                } %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
              <div class="form-inline">
                <%= f.fields_for :room_searches do |b| %>
                    <label><%= t("simple_form.labels.search.rooms") %></label>
                    <div class="no-of-adults">
                        <%= b.input_field :adults, as: :select, collection: 1..9, include_blank: false, class: "search-rooms form-control" %>
                    </div>
                    <% if b.options[:child_index] != 0 %>
                      <%= b.link_to_remove "-",
                        class: "btn btn-success remove",
                          "data-toggle"=>"tooltip",
                          "data-placement"=>"top",
                          "title"=>t("simple_form.labels.search.remove_room") %>
                    <% end %>
                    <div class="clearfix"></div>
                    <br />
                <% end %>
              </div>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-12">
              <%= f.link_to_add "+", :room_searches,
                class: "btn btn-default add pull-left",
                  :data => { :target => ".form-inline"},
                  "data-toggle"=>"tooltip",
                  "data-placement"=>"top",
                  "title"=> t("simple_form.labels.search.add_room")  %>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>

      </div>
      <div class="panel-footer">
          <%= f.button :submit, t("search.finalize.continue"), class: "btn btn-lg btn-block btn-success btn-outline" %>
      </div>
    </div>

<% end %>
