<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Booking confirmation - <%= @cart %></h1>
    <p>
      An order has just been placed at <%= @cart.shop %>. Contact the hotel and reply to this email with the order number to confirm. Reply with X + order number to nullify the order.<br/>
    </p>
    <p>
      Order number: <%= @cart.order_number %>
Hotel name: <%= @cart.shop %>
Hotel telephone: <%= @cart.shop.telephone %>
Order total: <%= @cart.shop_cut %>
    </p>
    <p>Order details:
<% i = 0 %>
<% @cart.bookings.each do |b| %>
  <%= "#{i}. #{b} - #{b.shop_cut}" %>
<% end %>
</p>
  </body>
</html>