
<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :suggested_role, :as => :hidden, :input_html => { :value => suggested_role } %>
    <%= f.association :language, :required => true %>

    <% if can? :sign_up, MemberProfile %>
      <%= f.input :role, as: :select, collection: roles_can_assign %>
    <% end %>
  </div>

  <hr/>

  <div class="pull-left">
    <%= f.button :submit, t("member_profile.new.submit"), class: "btn btn-large btn-success" %>
  </div>
  <div class="pull-right">
    <%= link_to t("member_session.new.signin"), new_session_path(resource_name), class: "btn btn-link" %>
    <%= link_to t("member_session.new.forgot_password"), new_password_path(resource_name), class: "btn btn-link" %>
  </div>
<% end %>
