<ul class="nav nav-tabs" id="shop-details">
    <li class="active"><%= link_to t("shop.show.details.info"), "#info", :data => {toggle: "tab"} %></li>
    <li><%= link_to t("shop.show.details.directions"), "#directions", :data => {toggle: "tab"} %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="info">
    <%= @shop.description %>
    <dl class="dl-horizontal">
      <% hotel_tag_categories_show.each do |c| %>
        <% unless @shop.subclass_tags(c).blank? %>
          <dt><%= label_for_tag_category(c) %></dt>
          <dd><%= @shop.subclass_tags(c).all.join(", ") %></dd>
        <% end %>
      <% end %>
    </dl>
  </div>
  <div class="tab-pane" id="directions"><%= @shop.directions %></div>
</div>