<%= simple_nested_form_for(@shop) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <% if can? :admin, Shop %>
      <%= f.association :user %>
    <% end %>
    <% if can? :publish, Shop %>
      <%= f.input :published %>
    <% else %>
      <%= @shop.published %>
    <% end %>
    <%= render 'descriptions/form', f: f, klasses: "shops", klass_instance: @shop %>
    <%= f.association :city %>
    <%= f.input :logo %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :directions %>
    <%= f.input :website1 %>
    <%= f.input :website2 %>
    <%= f.input :website3 %>
    <%= f.input :website4 %>
    <%= f.input :website5 %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
