<%= simple_nested_form_for(@shop) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <hr />

    <h3><%= t "shop.form.admin.title"%></h3>
    <%= f.input :published %>
    <%= f.input :commission_pct %>
    <%= f.input :shop_request_id, :input_html => { :value => shop_request_id },
      collection: current_user.shop_requests.incomplete,
      value_method: :id %>

    <hr />
    <h3><%= t "shop.edit.branding.title"%></h3>
    <h4><%= t "shop.edit.branding.descriptions" %></h4>
    <%= render 'descriptions/form', f: f, klass: "shop", klass_instance: @shop %>

    <br/>

    <h4><%= t "shop.edit.branding.logo" %></h4>
    <%= image_tag(@shop.logo_url :thumb) if @shop.logo? %>
    <%= f.input :logo, label: false %>
    <%= f.hidden_field :logo_cache %>

    <hr />

    <div class="row-fluid">
      <div class="span6">
          <h3><%= t "shop.edit.location.title"%></h3>
          <h4><%= t "shop.edit.location.address" %></h4>
          <%= f.input :address1, label: false %>
          <%= f.input :address2, label: false %>
          <div id='location-drilldown'><%= f.association :location %></div>
          <h4><%= t "shop.edit.location.directions" %></h4>
          <%= f.input :directions, label: false %>
      </div>
      <div class="span6">
        <h3><%= t "shop.edit.websites.title"%></h3>
        <%= f.input :website1, label: false %>
        <%= f.input :website2, label: false %>
        <%= f.input :website3, label: false %>
        <%= f.input :website4, label: false %>
        <%= f.input :website5, label: false %>
      </div>
    </div>

  </div>

  <hr />

  <div class="actions">
    <%= f.button :submit, class: "btn btn-large btn-block btn-success" %>
  </div>

<% end %>
