<h1>Listing shops</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Published</th>
      <th>Logo</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Directions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.city %></td>
        <td><%= shop.published %></td>
        <td><%= image_tag shop.logo_url(:preview) %></td>
        <td><%= shop.address1 %></td>
        <td><%= shop.address2 %></td>
        <td><%= shop.directions %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Shop %>
  <%= link_to 'New Shop', new_shop_path %>
<% end %>