<div class="row-fluid">
  <div class="span6"><h1><%= t "shop.index.title" %></div>
  <div class="span6">
    <% if can? :create, ShopRequest %>
      <%= link_to t("shop.index.request_new_hotel"), new_shop_request_path, class: "btn btn-large pull-right" %>
    <% elsif can? :create, Shop %>
      <%= link_to t("shop.index.new_shop"), new_shop_path, class: "btn btn-large pull-right" %>
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><%= link_to t("shop.index.title"), "#shop_index", data: {toggle: "tab"} %></li>
  <li><%= link_to t("shop.index.requests_link"), "#shop_requests", data: {toggle: "tab"} %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="shop_index"><%= render 'shops/index' %></div>
  <div class="tab-pane" id="shop_requests"><%= render 'shop_requests/index' %></div>
</div>