<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shop.user %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>Published:</strong>
  <%= @shop.published %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @shop.logo %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @shop.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @shop.address2 %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @shop.directions %>
</p>

<p>
  <strong>Website1:</strong>
  <%= @shop.website1 %>
</p>

<p>
  <strong>Website2:</strong>
  <%= @shop.website2 %>
</p>

<p>
  <strong>Website3:</strong>
  <%= @shop.website3 %>
</p>

<p>
  <strong>Website4:</strong>
  <%= @shop.website4 %>
</p>

<p>
  <strong>Website5:</strong>
  <%= @shop.website5 %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
