<% content_for :side do %>
  <%= render 'shops/edit_links' %>
<% end %>

<% if can?(:update, Shop) %>
  <%= render 'shared/admin_preview_role' %>
<% end %>

<% if can_and_want_shop_admin? %>
  <%= render "shared/admin_preview_language" %>
  <%= link_to t("shop.show.edit"), edit_shop_path(@shop), class: "btn btn-large btn-success" %>
<% end %>

<h1><%= @shop %></h1>
<h5><%= shop_address @shop %></h5>

<div class="row-fluid">
  <div class="span6"><%= render 'shops/carousel', shop: @shop %></div>
  <div class="span5 offset1"><%= render "shops/details_tabs" %></div>
</div>

<%= render 'carts/shop_menu' %>