<% content_for :side do %>
  <%= render 'shops/edit_links' %>
<% end %>

<% if can?(:update, Shop) %>
  <%= render 'shared/admin_preview_role' %>
<% end %>

<% if can_and_want_shop_admin? %>
  <%= render "shared/admin_preview_language" %>
  <%= link_to t("shop.show.edit"), edit_shop_path(@shop), class: "btn btn-large btn-success" %>
<% end %>

<h1><%= @shop %></h1>
<h5><%= shop_address @shop %></h5>

<div class="media">
  <%= render 'shops/carousel', shop: @shop %>
</div>

<p>
  <strong>Directions:</strong>
  <%= @shop.directions %>
</p>


<% if searched? %>
  <%= render 'carts/shop_menu' %>
<% else %>
  <% @shop.items.each do |i| %>
    <%= render 'items/show_shared', item: i %>
    <%= link_to t("shop.show.enter_booking_details"), new_search_path, class: "btn btn-large btn-link" %>
  <% end %>
<% end %>