<p id="notice"><%= notice %></p>
<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <%= image_tag @shop.logo_url(:preview) %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @shop.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @shop.address2 %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @shop.directions %>
</p>

<p>
  <strong>Website1:</strong>
  <%= @shop.website1 %>
</p>

<p>
  <strong>Website2:</strong>
  <%= @shop.website2 %>
</p>

<p>
  <strong>Website3:</strong>
  <%= @shop.website3 %>
</p>

<p>
  <strong>Website4:</strong>
  <%= @shop.website4 %>
</p>

<p>
  <strong>Website5:</strong>
  <%= @shop.website5 %>
</p>

<% if searched? %>
  <%= render 'carts/shop_menu' %>
<% else %>
  <% @shop.items.each do |i| %>
    <%= render 'items/show_shared', i: i %>
    <%= link_to t("shop.show.enter_booking_details"), new_search_path, class: "btn btn-large btn-link" %>
  <% end %>
<% end %>