<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @billing_information.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @billing_information.last_name %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @billing_information.expiration %>
</p>

<p>
  <strong>Type:</strong>
  <%= @billing_information.type %>
</p>

<%= link_to 'Edit', edit_billing_information_path(@billing_information) %> |
<%= link_to 'Back', billing_informations_path %>
