<% if @shop_requests.present? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <% if can? :update, ShopRequest %><th><%= t "shop_request.index.table.heading.shop_owner" %></th><% end %>
        <th><%= t "shop_request.index.table.heading.name" %></th>
        <th><%= t "shop_request.index.table.heading.state" %></th>
        <th><%= t "shop_request.index.table.heading.request" %></th>
        <th><%= t "shop_request.index.table.heading.date" %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @shop_requests.each do |shop_request| %>
        <tr>
          <% if can? :update, ShopRequest %><td><%= shop_request.shop_owner %></td><% end %>
          <td><%= shop_request.shop_name %></td>
          <td>
            <%= t("shop_request.state_synonyms.#{shop_request.state}") %>
            <% if can_assign_shop_to_shop_request? shop_request %>
              <%= render 'shop_requests/assignment_form', shop_request: shop_request %>
            <% end %>
          </td>
          <td><%= shop_request.request %></td>
          <td><%= l shop_request.created_at, format: :long %></td>
          <td>
            <%= link_to 'Create shop', new_shop_path(ref_shop_request_symbol => shop_request.id), class: "btn btn-success btn-block" %>
            <%= link_to 'Destroy', shop_request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @shop_requests, :renderer => BootstrapPagination::Rails %>
<% else %>
  <div class="hero-unit">
    <h3><%= t "shop_request.index.nothing.title" %></h3>
    <p><%= t "shop_request.index.nothing.text" %></p>
  </div>
<% end %>