<h1><%= t "shop_request.index.title" %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t "shop_request.index.table.heading.name" %></th>
      <th><%= t "shop_request.index.table.heading.state" %></th>
      <th><%= t "shop_request.index.table.heading.request" %></th>
      <th><%= t "shop_request.index.table.heading.date" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shop_requests.each do |shop_request| %>
      <tr>
        <td><%= shop_request.shop_name %></td>
        <td><%= shop_request.state %></td>
        <td><%= shop_request.request %></td>
        <td><%= shop_request.created_at %></td>
        <td><%= link_to 'Destroy', shop_request, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>