 <%= render "shared/custom_errors", errors: @credit_card.errors %>
<form action="<%= ::SPREEDLY_ENVIRONMENT.transparent_redirect_form_action %>" method="POST">
  <fieldset>
    <input name="redirect_url" type="hidden" value="<%= "http://#{request.host}:#{request.port}/credit_cards/added" %>" />
    <input name="environment_key" type="hidden" value="<%= ::SPREEDLY_ENVIRONMENT.key %>" />
     <input name="utf8" type="hidden" value="✓">

    <label for="credit_card_full_name">Name</label>
    <input id="credit_card_full_name" name="credit_card[full_name]" type="text" />

    <label for="credit_card_number">Card Number</label>
    <input id="credit_card_number" name="credit_card[number]" type="text" />

    <label for="credit_card_verification_value">Security Code</label>
    <input id="credit_card_verification_value" name="credit_card[verification_value]" type="text" />

    <label for="credit_card_month">Expires on</label>
    <input id="credit_card_month" name="credit_card[month]" type="text" />
    <input id="credit_card_year" name="credit_card[year]" type="text" />

    <button type='submit'><%= t("credit_card.new.submit") %></button>
  </fieldset>
</form>