<%= javascript_include_tag "skeuocard", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "skeuocard.reset", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "skeuocard", media: "all", "data-turbolinks-track" => true %>

<%= simple_form_for @credit_card, html: {id: "credit_card_form"} do |f| %>
  <%= f.error_notification %>
  <%= render "shared/custom_errors", errors: @credit_card.errors[:credit_card] %>

  <div class="credit-card-input no-js" id="skeuocard">
    <p class="no-support-warning"><%= t "credit_card.new.no_js" %></p>

    <%= label_tag :cc_number , t("credit_card.new.card_type") %>
    <%= select_tag(:cc_type, options_for_select(credit_card_types)) %>

    <%= label_tag :cc_number , t("credit_card.new.number") %>
    <%= text_field_tag :cc_number, nil, placeholder: "XXXX XXXX XXXX XXXX", maxlength: 19, size: 19 %>

    <%= label_tag :cc_exp_month , t("credit_card.new.month") %>
    <%= text_field_tag :cc_exp_month, nil, placeholder: "mm" %>

    <%= label_tag :cc_exp_year , t("credit_card.new.year") %>
    <%= text_field_tag :cc_exp_year, nil, placeholder: "yy" %>

    <%= label_tag :cc_name , t("credit_card.new.name") %>
    <%= text_field_tag :cc_name, nil, placeholder: "Marvin Arnold" %>

    <%= label_tag :cc_cvc , t("credit_card.new.code") %>
    <%= text_field_tag :cc_cvc, nil, placeholder: "777", maxlength: 3, size: 3 %>
  </div>

  <hr/>

  <div class="actions">
    <%= f.button :submit, t("credit_card.new.submit"), class: "btn btn-success btn-lg pull-right", :onclick => "return validateform();" %>
  </div>
<% end %>


<script>
  window.card = new Skeuocard($("#skeuocard"));
  validateform = function(){
    var resp = card.isValid();
    // alert("Its working" +  resp);
    if(resp) {
      $('#credit_card_form').submit();
      return true;
    }
    return false;
  }
</script>
