<%= simple_form_for(@credit_card, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :brand, collection: credit_card_types%>
  <%= f.input :number %>
  <%= f.input :cvv %>
  <%= f.input :name_on_card, required: true %>
  <%= f.input :expiration %>

  <hr/>

  <div class="actions">
    <%= f.button :submit, t("credit_card.new.submit"), class: "btn btn-block btn-success btn-lg" %>
  </div>
<% end %>
