<% unless can_one_click_checkout?(@cart) %>
	<div class="well">
		<% j = 0 %>
		<div class="row-fluid">
			<% @cart.bookings.each do |b| %>
				<%= content_tag "div", class: "span#{diver(@cart.bookings.size)} input radio optional" do %>
					<span>
						<%= content_tag "input", id: cart_bookings_attributes_id(j, item.id),
							class: "radio optional",
							type: "radio",
							value: item.id,
							name: "cart[bookings_attributes][#{j}][item_id]" do %>
						<% end %>
						<%= content_tag "label", class: "collection_radio", for: cart_bookings_attributes_id(j, item.id) do %>
							<%= "Book for Reservation #{j+1} (#{b.adults} ppl)" %>
						<% end %>
			    </span>
			  <% end %>
			  <%= hidden_field_tag "cart[bookings_attributes][#{j}][adults]", b.adults %>
			   <% j += 1 %>
			<% end %>
		</div>
	</div>

   <div class="actions">
    <%= f.button :submit, "Checkout", class: "btn btn-block btn-large btn-success" %>
  </div>
<% end %>