<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>Item</th>
      <th>Responsible first name</th>
      <th>Responsible last name</th>
      <th>Adults</th>
      <th>Name at checkout</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.cart %></td>
        <td><%= booking.item %></td>
        <td><%= booking.responsible_first_name %></td>
        <td><%= booking.responsible_last_name %></td>
        <td><%= booking.adults %></td>
        <td><%= booking.name_at_checkout %></td>
        <td><%= booking.quantity %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
