<!--Footer Here-->
<footer>
	<div class="container">
        <div class="col-md-8">
            <ul>
                <li><%= link_to t("footer.links.about"), about_path %></li>
                <li>|</li>
                <li><%= link_to t("footer.links.contact"), contact_path %></li>
                <li>|</li>
                <li><%= link_to t("footer.links.terms"), terms_path %></li>
                <li>|</li>
                <li><%= link_to t("footer.links.sitemap"), sitemap_path %></li>
            </ul>
            <div class="clearfix"></div>
            <div class="copy-rights">
                <%= raw t("footer.copyright") %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-logo"><img src="/assets/footer-logo.png" alt="Ahantu"></div>
        </div>
    </div>
</footer>
