<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= t "navbar.account_settings.title" %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to t("navbar.account_settings.shopper.order_history"),
        carts_path %>
    </li>
    <li>
      <%= link_to t("navbar.account_settings.update_registration"),
        edit_registration_path(current_user.profile) %>
    </li>
    <li class="divider"></li>
    <% if can? :create_shop_owner, MemberProfile %>
      <li>
        <%= link_to t("navbar.account_settings.salesperson.register_new_shop"),
          new_member_profile_registration_path %>
      </li>
      <li class="divider"></li>
    <% end %>
    <% if can? :update, Shop %>
      <li>
        <%= link_to t("navbar.account_settings.shop_owner.manage_shops"),
          shops_path %>
      </li>
      <li class="divider"></li>
    <% end %>
    <li>
      <%= link_to t("devise.member_profile_sessions.signout"),
      destroy_session_path(current_user.profile),
      method: :delete %>
    </li>
  </ul>
</li>