<h3 class='heading'><%= t "page.about.history.title" %></h3>
<%= raw textilize t("page.about.history.body") %>
<hr />

<h3 class='heading'><%= t "page.about.team.title" %></h3>
<br />
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag "team/placide.png", alt: "Placide" %>
      <div class="caption">
        <%= raw textilize t("page.about.team.person1") %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag "team/marvin.png", alt: "Marvina & Marvin" %>
      <div class="caption">
        <%= raw textilize t("page.about.team.person2") %>
      </div>
    </div>
  </div>
</div>