<%= render "shared/errors" %>
<%= render 'searches/homepage/form' %>
<%= render 'shared/carousel', shops: @shops %>

<!--Body Part here-->
<div class="container">
	<div class="col-md-8">
    	<%= raw textilize t("page.index.subsection") %>
	</div>
    <div class="col-md-4">
    	<!--Publish your Hotel-->
        <%= link_to t("shared.register_as_shop_owner.link"), new_member_profile_registration_path(suggested_role_symbol => "shop_owner"), class: "btn btn-lg btn-block publish-hotel", role:"button" %>
        <br/>
        <%= render 'shared/carousel_small' %>
    </div>
</div>
