<%= simple_form_for(@cart) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :user %>
    <%= f.association :shop %>
    <%= f.input :total_at_checkout %>
    <%= f.input :payment_at %>
    <%= f.input :payment_amount %>
    <%= f.input :billing_inform %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
