<%= simple_form_for(@cart) do |f| %>
  
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= f.error_notification %>    
  </div>

  <div class="panel panel-info table-responsive">
    <div class="panel-heading">
      <%= link_to t("cart.form.add_card"), new_credit_card_path, class: "pull-right " %>
      <h3 class="heading"><%= t "cart.edit.billing_information" %></h3>
    </div>
      <%= render "shared/custom_errors", errors: @cart.errors[:billing_information_id] %>
      <% if current_user.billing_informations.present? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t "cart.form.card" %></th>
              <th><%= t "cart.form.name_on_card" %></th>
              <th><%= t "cart.form.expires" %></th>
            </tr>
          </thead>
          <%= f.collection_radio_buttons :billing_information_id, current_user.credit_cards, :id, :id,
            :label => false , :input_html => {:class => "form-control input-sm"}  do |credit_card| %>
            <tr>
              <%= card_radio_select(credit_card) %>
            </tr>
          <% end %>
          </table>
      <% else %>
       <div class="panel-body">
         <p><%= t "cart.edit.no_billing_information" %> <%=  link_to t("cart.edit.no_billing_information_link"), new_credit_card_path %></p>
       </div>
      <% end %>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="heading"><%= t "cart.edit.room_details.title" %></h3>
    </div>
    <div class="panel-body">

      <% @cart.bookings.each.with_index do |booking, i| %>
        <%= f.simple_fields_for :bookings, booking do |b| %>
          <h4><%= t "cart.edit.room_details.subtitle", i: i+1, item: b.object %></h4>
          <div class="form-group">
            <label for="inputUsernameEmail"><%= t "cart.edit.responsible" %></label>
            <%= b.input_field :responsible_name, required: true , :class => "form-control input-lg" %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="heading"><%= t "cart.edit.contact_information" %></h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
            <label for="inputUsernameEmail"><%= t "simple_form.labels.cart.email" %></label>
            <%= f.input_field :email, :required => true, :label => false , :class => "form-control input-lg" , input_html: { value: current_user.email } %>
      </div>
      <div class="form-group">
            <label for="inputUsernamePhone"><%= t "simple_form.labels.cart.phone" %></label>
            <%= f.input_field :phone, :required => true, :label => false , :class => "form-control input-lg" %>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="heading"><%= t "cart.edit.checkout" %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.input_field :terms_accepted, class: 'pull-left' %>&nbsp;&nbsp;
            <%= f.label :terms_accepted, raw(textilize(t("cart.edit.terms_accepted"))) %>
            <%= render "shared/custom_errors", errors: @cart.errors[:terms_accepted] %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.button :submit, t("cart.edit.submit", price: number_to_currency(@cart.total, locale: :en)), class: "btn btn-success btn-lg pull-right btn-outline" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>