<style>
h3 {
  text-align: left;
  margin: 0px;
  line-height: 100%;
  text-transform:uppercase;
  color: #00ABCC;
  font-size: 19px;
}
</style>
<%= simple_form_for(@cart) do |f| %>
  <%= f.error_notification %>
  <%= render "shared/custom_errors", errors: @cart.errors[:billing_information_id] %>

  <div class="panel panel-info">
    <div class="panel-heading">
      <%= link_to t("cart.form.add_card"), new_credit_card_path, class: "pull-right " %>
      <h3><%= t "cart.edit.billing_information" %></h3>
    </div>
    <div class="panel-body">
      <% if current_user.billing_informations.present? %>
        <p><%= t "cart.form.select_card" %></p>
        <table>
        <%= f.association :billing_information, collection: current_user.credit_cards ,
          as: :radio_buttons,
          :label_method => lambda {|c| card_radio_select c },
          :label => false %>
        </table>
      <% else %>
        <p><%= t "cart.edit.no_billing_information" %> <%=  link_to t("cart.edit.no_billing_information_link"), new_credit_card_path %></p>
      <% end %>
    </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading">
      <h3><%= t "cart.edit.room_details.title" %></h3>
    </div>
    <div class="panel-body">

      <% @cart.bookings.each.with_index do |booking, i| %>
        <%= f.simple_fields_for :bookings, booking do |b| %>
          <h4><%= t "cart.edit.room_details.subtitle", i: i+1, item: b.object %></h4>
          <div class="form-group">
            <label for="inputUsernameEmail">Responsible Name</label>
            <%= b.input_field :responsible_name, required: true , :class => "form-control input-lg" %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3><%= t "cart.edit.contact_information" %></h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
            <label for="inputUsernameEmail">Email</label>
            <%= f.input_field :email, :required => true, :label => false , :class => "form-control input-lg" , input_html: { value: current_user.email } %>
      </div>
      <div class="form-group">
            <label for="inputUsernamePhone">Phone</label>
            <%= f.input_field :phone, :required => true, :label => false , :class => "form-control input-lg" %>
      </div>
    </div>
  </div>

  <%= f.button :submit, t("cart.edit.submit", price: number_to_currency(@cart.total, locale: :en)), class: "btn btn-success btn-lg pull-right" %>

<% end %>