<%= simple_form_for(@cart) do |f| %>
  <%= f.error_notification %>
  <%= current_cart.total %>
  <div class="inputs">
    <%= f.association :billing_information %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Checkout" %>
  </div>
<% end %>
