<%= simple_form_for(@cart) do |f| %>
  <%= f.error_notification %>
  <%= current_cart.total %>
  <div class="inputs">
  	<% if current_user.billing_informations.present? %>
    	<%= f.association :billing_information, collection: current_user.credit_cards %>
    <% else %>
    	<%= link_to "Add Credit Card", new_credit_card_path %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Checkout" %>
  </div>
<% end %>
