<%= simple_form_for(@cart) do |f| %>
  <%= f.error_notification %>
	<% @shop.items.each do |i| %>
		<%= render 'items/show', item: i, f: f %>
  <% end %>
  <% if !can_one_click_checkout?(@cart) %>
    <div class="actions">
      <%= f.button :submit, "Checkout", class: "btn btn-lg btn-success pull-right" %>
      <%= link_to t("cart.show.continue_shopping"), root_path , :class=> "btn btn-lg btn-default" %>
    </div>
	<% end %>

<% end %>