<h1><%= t "cart.show.title" %></h1>
<h3><%= t "cart.show.description", hotel: @cart.shop %></h3>
<p>
  <strong>Confirmation number:</strong>
  <%= @cart.order_confirmation %>
</p>

<p>
  <strong>Reservation made:</strong>
  <%= l @cart.checkout_at, format: :long %>
</p>

<p>
  <strong>Billing information:</strong>
  <%= @cart.billing_information %>
</p>

<br/>

<%= render 'bookings/index', cart: @cart %>
