<p>
  <strong>Shop:</strong>
  <%= @cart.shop %>
</p>

<p>
  <strong>Total at checkout:</strong>
  <%= @cart.total_at_checkout %>
</p>

<p>
  <strong>Payment at:</strong>
  <%= @cart.payment_at %>
</p>

<p>
  <strong>Payment amount:</strong>
  <%= @cart.payment_amount %>
</p>

<p>
  <strong>Billing information:</strong>
  <%= @cart.billing_information %>
</p>