<div class="container">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h3><%= t "cart.show.title" %></h3>
    <div class="box">
      <blockquote>
        <h4><%= t "cart.show.description", hotel: @cart.shop %></h4>
      </blockquote>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="pull-right"><%= @cart.order_confirmation %></span>
          <strong><span class="glyphicon glyphicon-check"></span>&nbsp;<%= t "cart.show.confirmation_num" %></strong>
        </li>
        <li class="list-group-item">
          <span class="pull-right"><%= @cart.submitted_at.present? ? ( l @cart.submitted_at.to_date, format: :long ) : "" %></span>
          <strong><span class="glyphicon glyphicon-check"></span>&nbsp;<%= t "cart.show.reserved_at" %></strong>
        </li>
        <li class="list-group-item">
          <span class="pull-right"><%= @cart.billing_information %></span>
          <strong><span class="glyphicon glyphicon-check"></span>&nbsp;<%= t "cart.show.billing_info" %></strong>
        </li>
      </ul>

      <%= render 'bookings/index', cart: @cart %>
      <%= link_to t("cart.show.continue_shopping"), root_path , :class=> "btn btn-sm btn-success pull-right" %>
    </div>
  </div>

  <div class="col-md-2">
  </div>

</div>



