<%= simple_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :keyword %>
    <%= f.input :checkin_at %>
    <%= f.input :checkout_at %>
    <%= f.input :adults %>
    <%= render 'tags/select_boxes', 
      tags: HotelTag.all, 
      obj: @search %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
