<%= simple_nested_form_for(@search) do |f| %>
  <%= f.error_notification %>

    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-search"></span> FILTER BY SEARCH CRITERIA
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Keyword</label>
          <%= f.input :keyword, hint: false , label: false, :input_html => { class: "form-control" } %>    
        </div>
        <div class="form-group">
          <label>Check-In</label>
          <%= f.input :checkin_at, as: :string, :placeholder=>"Checkin", :label => false , :input_html => {
          :data => { behaviour: "datepicker" },
          value: f.object.suggested_checkin_at(current_user),
          class: "datepicker form-control customdate",
          readonly: true,
          "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Checkin Date",
           id:"dp1",
          "data-date-format" => "dd/mm/yyyy"
          } %>
        </div>
        <div class="form-group">
          <label>Check-Out</label>
            <%= f.input :checkout_at, as: :string, :placeholder => "Checkout", :label => false , :input_html => {
            :data => { behaviour: "datepicker"},
            value: f.object.suggested_checkout_at(current_user),
            class: "datepicker form-control customdate",
            readonly: true,
            "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Checkout Date",
            id:"dp2",
            "data-date-format" => "dd/mm/yyyy",
            } %>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-9 col-xs-12 col-sm-12">
              <div class="form-inline">
                <%= f.fields_for :room_searches do |b| %>
                    <label>Adults</label>
                    <div class="no-of-adults">
                        <%= b.input_field :adults, as: :select, collection: 1..9, include_blank: false, class: "search-rooms form-control" %>
                    </div>
                    <% if b.options[:child_index] != 0 %>
                      <%= b.link_to_remove "-", class: "btn btn-success remove", "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Remove Room"%>
                    <% end %>
                    <div class="clearfix"></div>
                    <br />
                <% end %>
              </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
              <%= f.link_to_add "+", :room_searches, class: "btn btn-default add pull-left",:data => { :target => ".form-inline"},"data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Add Room"  %>
            </div>
          </div>
        </div>
    
      </div>
      <div class="panel-footer">
          <%= f.button :submit, class: "btn btn-lg btn-block btn-success btn-outline" %>
      </div>
    </div>
    
    <div class="panel panel-success">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-search"></span> FILTER BY FACILITIES
      </div>
      <div class="panel-body">
          <%= render 'tags/hotel_tags_select', tags: @tags, obj: @search %>
      </div>
      <div class="panel-footer">
          <%= f.button :submit, class: "btn btn-lg btn-block btn-success btn-outline" %>
      </div>
    </div>

<% end %>
