<%= simple_nested_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">

    <%= f.input :keyword, hint: false , :input_html => { class: "form-control" } %>    
    <%= render "searches/when", f: f %>
    <%= render 'searches/rooms', f: f %>

    <%= render 'tags/hotel_tags_select', tags: @tags, obj: @search %>
  </div>

  <hr />

  <div class="actions">
      <%= f.button :submit, class: "btn btn-block btn-success btn-large" %>
  </div>
<% end %>
