<%= simple_nested_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :keyword, hint: false %>
    <%= render "searches/when", f: f %>

    <hr />

    <%= render 'searches/rooms', f: f %>

    <hr />

    <%= render 'tags/select_boxes', tags: HotelTag.all, obj: @search %>
  </div>

  <hr />

  <div class="actions">
    <%= f.button :submit, class: "btn btn-block btn-success btn-large" %>
  </div>
<% end %>
