<div class="row-fluid">
  <%= content_tag "a", href: url_for(r), class: "well span12 search-result" do %>
    <div class="row-fluid">
      <div class="span9">
        <h4><%= r %></h4>
        <h6><%= shop_address(r) %></h6>
        <%= image_tag r.logo_url(:thumb) %>
      </div>
      <div class="span3">
        <h3><%= number_to_currency r.display_price %></h3>
        <p class="muted"><%= t "search.show.result.min_price" %></p>
        <hr/>
        <dl class="dl-horizontal">
          <% hotel_tag_categories_search.each do |c| %>
            <% unless r.subclass_tags(c).blank? %>
              <dt><%= label_for_tag_category(c) %></dt>
              <dd><%= r.subclass_tags(c).all.join(", ") %></dd>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
</div>
