<%= content_tag "a", href: url_for(r), class: "thumbnail" do %>
    <div class="row">
        <div class="col-xs-3 col-md-3 text-center">
          <%= image_tag r.logo_url(:logo) , :class=>"img-rounded img-responsive" %>
          <h4>
            <%= number_to_currency r.display_price(current_search) %>
            <br/>
            <small>
              <%= t "search.show.result.min_price" %>
            </small>
          </h4>
        </div>
        <div class="col-xs-9 col-md-9 section-box">
          <h2><%= r %></h2>
          <h6><span class="glyphicon glyphicon-map-marker"></span> <%= shop_address(r) %></h6>
          <hr/>
          <% hotel_tag_categories_search.each do |c| %>
            <% unless r.subclass_tags(c).blank? %>
              <h4 class="title"><%= label_for_tag_category(c) %></h4>
              <% r.subclass_tags(c).each do |tag| %>
                <span><span class="glyphicon glyphicon-ok-sign"></span> <%= tag %></span>&nbsp;&nbsp;
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
<% end %>
