<%= f.fields_for :room_searches do |b| %>
  <div class="row-fluid">
    <%= render "shared/custom_errors", errors: b.object.errors[:adults] %>
    <div class="span4"><%= b.label :adults %></div>
    <div class="span4"><%= b.input_field :adults, as: :select, collection: 1..9, include_blank: false, class: "search-rooms" %></div>
    <div class="span4"><%= b.link_to_remove "Remove", class: "btn btn-mini btn-warning" %></div>
  </div>
<% end %>
<p><%= f.link_to_add "Add a room", :room_searches, class: "btn btn-mini" %></p>