<%= link_to t("shop.edit.edit_links.show"), @shop, class: "btn btn-link" %>
<%= link_to t("item.edit.edit_links.edit_shop"), edit_shop_path(@shop), class: "btn btn-link" %>
<h4><%= t("item.edit.edit_links.edit_items") %></h4>
<%= link_to t("item.edit.edit_links.add_item"), new_shop_item_path(@shop), class: "btn btn-info" %>

<% @shop.items.each do |item| %>
  <% unless item == @item %>
  <%= link_to t("shop.edit.edit_links.edit_item", item: item),
    edit_shop_item_path(@shop,item), class: "btn btn-link" %>
  <% end %>
<% end %>