<%= simple_nested_form_for([@shop, @item]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <h4><%= t "item.form.status" %></h4>
    <%= f.input :published %>

    <hr/>

    <h4><%= t "item.form.descriptions.title" %></h4>
    <%= render 'descriptions/form', f: f, klass: "item", klass_instance: @item %>

    <h4><%= t "item.form.details" %></h4>
    <%= f.input :quantity %>
    <%= f.input :max_adults %>
    <%= f.input :default_price %>

    <hr/>

    <%= render 'items/price_adjustments', f: f %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-block btn-success btn-large" %>
  </div>
<% end %>
