<%= simple_nested_form_for([@shop, @item]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= render 'descriptions/form', f: f, klasses: "items", klass_instance: @item %>
    <%= f.input :quantity %>
    <%= f.input :max_adults %>
    <%= f.input :published %>
    <%= f.input :default_price %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
