<div class="panel panel-default">

  <div class="panel-heading">
		<h4 class='title'>
			<%= item %>
			<span class="pull-right">
					<%= number_to_currency item.default_price %> <small><%= t "search.show.result.min_price" %></small>
					<small>
						&nbsp;&nbsp;&nbsp;
						<% if can_and_want_shop_admin? %>
							<%= link_to t("shop.show.edit_item"), edit_shop_item_path(@shop, item), class: "btn btn-mini btn-success" %>
						<% end %>
					</small>
			</span>
		</h4>
	</div>

  <div class="panel-body">

		<div class="row-fluid">
			<div class="col-md-4">
				<%= render 'items/room_pictures', room: item %>
			</div>
			<div class="col-md-8" style='border-left: 1px solid #eee;'>
				<h5><%= item.description.try :humanize %></h5>
				<%= render 'items/room_details', room: item %>
			</div>
		</div>

	</div>

	<%= render 'bookings/form', f: f, item: item %>
	<% if can_one_click_checkout?(@cart) %>
		<div class="panel-footer">
			<h5>
				<a target='#share'>&nbsp;</a>
				<span class="pull-right" style='margin-top:-10px;'>
						<% @cart.bookings.each do |b| %>
							<%= link_to one_click_checkout_carts_path(item_id: item.id),
								class: "btn btn-large btn-success" do %>
								<span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;<%= t("cart.new.book_room") %>
							<% end %>
						<% end %>
				</span>
			</h5>
		</div>
	<% end %>

</div>

