<h3><%= item %></h3>
 <p> <%= item.description %>
</p>

<p>
  <strong>Max adults:</strong>
  <%= item.max_adults %>
</p>

<p>
  <%= number_to_currency item.default_price %>
</p>
<% if can_and_want_shop_admin? %>
  <%= link_to t("shop.show.edit_item"), edit_shop_item_path(@shop, item), class: "btn btn-large btn-success" %>
<% end %>
