<div class="row-fluid">
  <div class="span6">
    <h3><%= item %></h3>
    <p><%= item.description %></p>

    <%= render 'items/room_details' %>

  </div>

  <div class="span5 offset1">
    <h3 class="text-right"><%= number_to_currency item.default_price %></h3>
    <p class="muted text-right"><%= t "search.show.result.min_price" %></p>

    <% if can_and_want_shop_admin? %>
      <%= link_to t("shop.show.edit_item"), edit_shop_item_path(@shop, item), class: "btn btn-large btn-success" %>
    <% end %>

    <% if can_one_click_checkout?(@cart) %>
      <% @cart.bookings.each do |b| %>
        <div><%= f.button :submit, t("cart.new.book_room"), class: "btn btn-large btn-success pull-right" %></div>
      <% end %>
    <% end %>

    <div class="clearfix"></div>

    <hr />

    <%= render 'items/room_pictures', room: item %>

  </div>
</div>

<br />

<%= render 'bookings/form', f: f, item: item %>
