<p>
  <strong>Name:</strong>
  <%= i.name %>
  <%= i.description %>
</p>

<p>
  <strong>Max adults:</strong>
  <%= i.max_adults %>
</p>

<p>
  <strong>Default price:</strong>
  <%= i.default_price %>
</p>

<%= render 'bookings/form', f: f %>