<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Shop</th>
      <th>Max adults</th>
      <th>Published</th>
      <th>Default price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.shop %></td>
        <td><%= item.max_adults %></td>
        <td><%= item.published %></td>
        <td><%= item.default_price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
