<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @item.shop %>
</p>

<p>
  <strong>Max adults:</strong>
  <%= @item.max_adults %>
</p>

<p>
  <strong>Published:</strong>
  <%= @item.published %>
</p>

<p>
  <strong>Default price:</strong>
  <%= @item.default_price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
