<%= simple_form_for(@sm) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :cart %>
    <%= f.input :message %>
    <%= f.association :phone %>
    <%= f.input :incoming %>
    <%= f.input :sent_at %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
