<h1>Listing sms</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>Message</th>
      <th>Phone</th>
      <th>Incoming</th>
      <th>Sent at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sms.each do |sm| %>
      <tr>
        <td><%= sm.cart %></td>
        <td><%= sm.message %></td>
        <td><%= sm.phone %></td>
        <td><%= sm.incoming %></td>
        <td><%= sm.sent_at %></td>
        <td><%= link_to 'Show', sm %></td>
        <td><%= link_to 'Edit', edit_sm_path(sm) %></td>
        <td><%= link_to 'Destroy', sm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sm', new_sm_path %>
