<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @sm.cart %>
</p>

<p>
  <strong>Message:</strong>
  <%= @sm.message %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sm.phone %>
</p>

<p>
  <strong>Incoming:</strong>
  <%= @sm.incoming %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @sm.sent_at %>
</p>

<%= link_to 'Edit', edit_sm_path(@sm) %> |
<%= link_to 'Back', sms_path %>
