<h1>Listing confirmations</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Type</th>
      <th>Text</th>
      <th>Booking</th>
      <th>Sent at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @confirmations.each do |confirmation| %>
      <tr>
        <td><%= confirmation.message %></td>
        <td><%= confirmation.type %></td>
        <td><%= confirmation.text %></td>
        <td><%= confirmation.booking %></td>
        <td><%= confirmation.sent_at %></td>
        <td><%= link_to 'Show', confirmation %></td>
        <td><%= link_to 'Edit', edit_confirmation_path(confirmation) %></td>
        <td><%= link_to 'Destroy', confirmation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confirmation', new_confirmation_path %>
