<%= simple_nested_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <div class="inputs row-fluid">
  	<%= render 'searches/homepage/keyword', f: f %>
  	<%= render 'searches/homepage/when', f: f %>
  	<%= render 'searches/homepage/rooms', f: f %>
  </div>

	<%= f.button :submit, t("simple_form.labels.search.new.submit"),  class: "btn btn-success btn-lg btn-block" %>

<% end %>
