<%= simple_form_for(@search) do |f| %>
  <%= f.error_notification %>

  <div class="inputs row-fluid">
  	<%= render 'searches/homepage/keyword', f: f %>
  	<%= render 'searches/homepage/when', f: f %>
  	<%= render 'searches/homepage/rooms', f: f %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
