<!DOCTYPE html>
<html>
<%= render 'shared/head' %>
<body>

<%= render 'shared/navbar' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
      <%= render "shared/errors" %>
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

</body>
</html>
