s<!DOCTYPE html>
<html>
<%= render 'shared/head' %>
<body>

<%= render 'shared/navbar' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7 offset1">
    <%= render "shared/errors" %>
      <%= yield %>
    </div>
    <div class="span3">
      <%= yield :side %>
    </div>
  </div>
</div>

</body>
</html>
